@charset "UTF-8";
/* 전체 마진0 패딩0 보더박스*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* PC ver. navbar 영역 */
/*  [ .nav   [ nav  [  #logo, menuButtons  ] ] ] */
.nav {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
nav {
  width: 1024px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
#logo {
  width: 130px;
  height: 48px;
  margin-left: 15%;
  transition: all 0.5s;
  cursor: pointer;
}
#menuButtons {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  font-size: 1rem;
  text-align: right;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
/* fixed 설정으로 인해 밑으로 내리기 위한 div*/
#margin {
  height: 50px;
}
/*  navbar 영역 끝 */

/* Mobile Ver. Hamburger 영역*/
#sideicon {
  display: none;
}
#hamburgerDiv {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
}
#hamburgerDiv:hover {
  cursor: pointer;
}
.hamburger {
  width: 45px;
  border-bottom: 6px solid #32be78;
}
.hamburger:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Hamburger 영역 끝*/

/* Mobile ver. sidebar 영역*/
#sidebar {
  position: absolute;
  top: 50px;
  right: -40%;
  width: 40%;
  background-color: whitesmoke;
  transition: all 0.3s;
  display:none;
}
#sidebar > a {
  display: block;
  text-align: right;
  font-size: 1.3em;
  border-bottom: 1px solid black;
}
#sidebar > a:hover{
	text-decoration: underline;
}

#sidebar > a > span {
  display: block;
  height: 100px;
  line-height: 100px;
}

#first {
  width: 1024px;
  height: 720px;
  margin: 0 auto;
  border: 1px solid pink;
}

@media (max-width: 1024px) {
  #first {
    width: 100%;
  }
  #logo {
    margin-left: 2%;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-left: 0%;
  }
  #menuButtons {
    display: none;
  }
  #hamburgerDiv {
    display: initial;
  }
}