@charset "UTF-8";
html, body, div,h1,a,p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.view-container {
    width:1280px;
    height:100%;
    margin:0 auto;
    border:solid 2px lightgray;
    border-radius: 10px;
}
div[id="card-title"] h1 {
	width:90%;
    font-size: 20pt;
}
div[id="card-info"]{
	display: flex;
	border-bottom:solid 3px rgb(50, 190, 120);
	padding:10px 0 5px 10px;
	margin:0 10px 0 10px;
}
div[class="card-info2"] {
	padding:10px 0 5px 0;
}
input[id="modifyCard"] {
	width:50px;
	height:30px;
	margin-right: 5px;
}
input[id="closeCard"] {
	width:50px;
	height:30px;
}
div[id="card-title"] span {
	padding-left:10px;
}
div[id="view-content"] h1 {
    padding: 10px;
    font-size:25px;
}
table[id="viewTable"] {
    font-size:15pt;
    padding:0 10px 10px 10px;
}
table[id="viewTable"] td {
    padding:5px
}
div[id="card-content"] pre {
	padding:10px;
	color:black;
	border:solid 1px lightgray;
	margin:0px 10px 0px 10px;
/* 	border-radius: 10px; */
	margin-bottom: 20px;
	height:100%;
	font-weight: bold;
}

/* ===============댓글==================== */
div[class="view-reply"] {
	margin:10px;
}
li[class="reply_group_item"]{
    display: flex;
}
div[class="reply_group_div"] {
	width:100%;
	border: solid 1px lightgray;
/* 	border-bottom-style: none; */
	padding:10px;
}
div[class="reply_nickname"]{
	font-size:14pt;
	font-weight:550;
	margin-bottom: 5px;
}
div[id="reply_regDate"] {
	color:lightgrey;
}
div[id="reply_editDate"] {
	color:lightgrey;
	display:none;
}
div[class="reply"]{
	padding:10px 0 10px 0;
	white-space: pre-line;
}
div[class="reply_button"]{
	display:flex;
	width: 10%;
	line-height: 40px;
	margin-bottom: 10px;
}
button[id="modifyReplyBtn"]{
	width: 50%;
	margin-right: 5px;
}
button[id="deleteReplyBtn"]{
	width: 50%;
}
div[class="reply_write"] {
	padding:10px;
	border:solid 1px lightgray;
}
textarea[id="reply"] {
	width:92%;
	margin-top:10px;
	padding:10px;
	font-size: 12pt;
	font-weight: 550;
	margin:0;
}
div[class="reply_write_item"] {
	display:flex;
}
div[class="reply_write_button"] {
	width:8%;
	display:flex;
	padding:15px;
}
div[class="reply_write_button"] button {
	width:100%;
	padding:5px;
	margin:5px;
}
div[class="reply_modify_wrapper"]{
    width: 100%;
	min-height: 100px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    display: none;
}
div[class="reply_modify"]{
    margin-top: 0px;
}
label[class="reply_modify_label"]{
    padding-bottom: 10px;
	padding-left: 20px;
	font-weight: bold;
}
div[class="reply_modify_div"]{
    display: flex;
	 justify-content: space-between;
	 padding: 10px;
}
textarea[id="reply_modify_text"]{
    width: 92%;
	padding: 10px;
	border: 1px solid #ddd;
	resize: vertical;
	font-size: 13pt;
}
div[class="reply_modify_button_div"]{
    width: 8%;
    margin-left: 10px;
}
button[id="reply_modify_button"]{
    width: 100%;
	border: 1px solid black;
	border-radius: 3px;
	text-align: center;
    line-height: 50px;
    vertical-align: bottom;
    margin-bottom: 5px;
}
button[id="reply_modify_cancel"]{
    width: 100%;
	border: 1px solid black;
	border-radius: 3px;
	text-align: center;
	line-height: 50px;
}
