*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

div[id="boardWriteWrapper"]{
    margin: 0 auto;
    width: 1280px;
    min-height: 1000px;
}
div[id="boardWriteContainer"]{
    margin: 0 auto;
    width: 1280px;
    min-height: 1000px;
    margin-top: 70px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
div[id="boardWriteTopic"]{
    min-height: 100px;
}
div[id="boardWriteTitle"]{
    margin: 0 auto;
    min-height: 100px;
    padding: 5px 10px;
}
input[id="boardWriteTitleText"]{
    display : block;
    margin: 0 auto;
    height: 50px;
    width: 1000px;
    border-color: #ddd;
    border-left: 3px solid #32be78;
    padding: 10px, 10px;
    font-size: 20px;
}
div[id="boardWriteContent"]{
    margin: 0 auto;
    min-height: 100px;
    padding: 5px 10px;
}
textarea[id="boardWriteContentText"]{
    display : block;
    margin: 0 auto;
    height: 500px;
    width: 1000px;
    border-color: #ddd;
    border-left: 3px solid #32be78;
    padding: 10px, 10px;
    resize: vertical;
	font-size: 20px;
}
div[id="boardWriteButton"]{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button[id="boardWriteBtn"]{
    width: 100px;
    height: 50px;
    margin: 10px;
}
button[id="boardListBtn"]{
    width: 100px;
    height: 50px;
    margin: 10px;
}