@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.nav {
  width: 100%;
  height: 60px;
  align-content: center;
  position: fixed;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

nav {
  width: 1024px;
  display: flex;
  align-items: center;
}

#menuButtons {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  font-size: 1.2rem;
}

#menuButtonsM {
  display: none;
}

.firstBanner {
  width: 100%;
  height: 740px;
  background: url("../image/firstBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.secondBanner {
  width: 100%;
  height: 740px;
  background: url("../image/secondBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.thirdBanner {
  width: 100%;
  height: 740px;
  background: url("../image/firstBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fourthBanner {
  width: 100%;
  height: 740px;
  background: url("../image/secondBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1024px;
  border: 1px solid pink;
  height: 740px;
  margin: 0 auto;
}

.fifthBanner {
  margin-top: 90px;
  width: 100%;
  height: 300px;
  background-color: white;
}

footer {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

footer > div {
  width: 170px;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 20px;
}

.mobileMenu {
  position: fixed;
  top: 50px;
  right: -100%;
  background-color: rgb(229, 242, 243);
  height: 430px;
  width: 45%;
  transition: all 0.4s;
}

.mobileMenu > ul > li {
  margin-top: 45px;
  margin-left: 5px;
  text-align: right;
  font-weight: 600;
  font-size: 1.5rem;
}

.banner1 {
  padding-left: 45%;
}

.buttons {
  width: 200px;
  height: 50px;
  margin-top: 300px;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  background-color: rgb(84, 148, 250);
}

#topButton {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 15px;
  background-color: rgb(66, 88, 212);
  color: white;
  font-size: 0.8rem;
  opacity: 0;
  transition: all 0.3s;
}

/*1024pxê¹Œì§€ëŠ” í™”ë©´í¬ê¸°ëŒ€ë¡œ í‚¤ìš°ê³  
    1025px ë¶€í„°ëŠ” ê³ ì •í•œë‹¤*/
@media (max-width: 1024px) {
  .container,
  footer {
    width: 100%;
  }
}

/*768pxê¹Œì§€ëŠ” ëª¨ë°”ì¼ë¡œ ë³´ì—¬ì£¼ê³ 
    769px ë¶€í„°ëŠ” PCë²„ì „ìœ¼ë¡œ ë³´ì—¬ì¤€ë‹¤.*/
@media (max-width: 768px) {
  #menuButtons {
    display: none;
  }

  .line {
    border-bottom: 3px solid white;
    width: 30px;
    margin-top: 8px;
    margin-right: 10px;
  }
  #menuButtonsM {
    display: grid;
    width: 100%;
    height: 40px;
    justify-content: right;
  }
}
