@charset "UTF-8";
html,body,div,span,img,header,nav,a,ul,li,form, label,footer,tr,th,td,
section,article,aside {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;   
}
.container {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}
body{
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main */

#content_wrapper{
    width: 1280px; margin: 0 auto;
}

/* main_header */
.content_header{
    width: 100%; height: 80px; 
}

.header_label{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
   
}

.content_aside{
    float: left; width: 20%; height: 600px; 
}

/* Table */

.content_section{
    float: left; width: 70%; height: 600px; 
    margin-top: 80px;
}

.table_left{
    padding: 10px;
    padding-right: 0px;
    width: 25%;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    text-align: right;
    height: 50px;
    
}

.id_label{
    vertical-align: middle;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: rgb(153, 153, 153);
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    width: 40%;
}


.table_right{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nickName_star{
    color: rgb(243, 146, 0);
    font-weight: 700;
    margin-right: 5px;
}

.nickName_re{
    font-size: 12px;
    color: rgb(153, 153, 153);   
}

.table_left_bottom{
    padding: 10px;
    padding-right: 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    text-align: right;
    height: 50px;
}

.table_right_bottom{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* 수정 버튼 구간 */

.buttonDiv{
    text-align: center;
    padding-top: 30px;   
    width: 80%;
}

#reviseBtn{
	width: 70px;
	height: 30px;
	background-color: rgb(50, 190, 120);
	border-color: rgb(50, 190, 120);
	color:white;
	font-weight: bold;
}

#resetBtn{
	width: 70px;
	height: 30px;
	background-color: rgb(50, 190, 120);
	border-color: rgb(50, 190, 120);
	color: white;
	font-weight: bold;
	
}
/* 회원 탈퇴 구간*/

.withdrawDiv{
    width: 85%;
    height: 150px;
   
}

#withdrawBtn{
	width: 80px;
	height: 30px;
	background-color: rgb(50, 190, 120);
	border-color: rgb(50, 190, 120);
	color: white;
	font-weight: bold;
}



.withdrawDiv_label{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    padding: 15px;
    text-align: right;
    margin-top: 180px;
   
}


/* 오른쪽 공간 */
.content_article{
    float: left; width: 10%; height: 600px;
}

/* 아래 공간 */
.content_footer{
    clear: both; width: 100%; height: 30px;
}
